 .bg {
     background-image: url("../../../public/img/hero img.png");
     
     background-color: red;
     
     background-size: cover;
     background-repeat: no-repeat;
     z-index: 0;
     
     
     width: 100%;
     height: calc(100vh - 63px);

 }


 @media (max-width: 900px) {
     .bg {
         height: calc(100vh - 100px);
         background-size: contain;
     }
 }